html {background-color: rgba(0, 119, 255, 0.377);
font-size: 20px;}

* {text-align: center; font-style:oblique}

h1 {color: rgb(255, 254, 254);}

h2 {color: rgb(255, 255, 255);}

h3 {color: rgb(38, 5, 129);}

h4 {color: rgb(38, 5, 129);}

a {color: rgb(33, 3, 201);}

footer {color: rgb(33, 3, 201);}